<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <title>{{ title }}</title>
  </head>
  <body>
    <article>
      <header>
        <h1>{{ title }}</h1>
        <p class="post-date">{{ date | dateFormat("MMMM dd, yyyy") }}</p>
      </header>
      <div class="post-content">
        <hr>
        {{ content | safe }}
      </div>
    </article>

    {% set postTags = (page and page.data and page.data.tags) or tags or [] %}
    {% set displayTags = postTags | reject("equalto", "post") | list %}

    <footer class="post-footer">
      <a href="/archive/linux" class="back-button">⬅ Back to Linux</a>
    </footer>

  </body>
</html>

