body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #ffffff;
    display: flex;
}

.sidebar {
    position: fixed;
    width: 240px; /* Default sidebar width */
    height: 100%;
    background-color: #141414;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 280px; /* Width when hovered over */
}

.sidebar h2 {
    color: #7a4d7c;
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar ul li a:hover {
    background-color: #7a4d7c;
    color: #f9f9f9;
}

.content {
    margin-left: 240px;
    padding: 20px;
    transition: margin-left 0.3s ease;
    flex: 1;
}

.sidebar:hover ~ .content {
    margin-left: 300px;
}

header {
    background-color: #1f1f1f;
    padding: 10px;
    text-align: center;
    top: 0;
    z-index: 1000;
}


header hr {
    width:50%;
    text-align:center;
}
             <hr style="width:50%;text-align:center;">
header h1 {
    margin: 0;
    color: #ffffff;
}

header h1 span {
    color: #d1a1d3;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #7a4d7c;
    color: #f9f9f9;
    border-radius: 5px;
}

main {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

main h1 {
    color: #7a4d7c;
}

main h2 {
    color: #7a4d7c;
}

main h3 {
    color: #7a4d7c;
}

main p {
    margin: 10px 0;
}

main a {
    color: #9433ff;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.about-content {
    display: flex;
}

.about-image img {
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 50%;
    border: 5px solid #7a4d7c;
    margin-top: -20px; /* Adjust the negative margin to move the image up */
}




.about-text {
    flex: 3; 
}

.about-text h2 {
    color: #7a4d7c;
}

.about-text p {
    margin: 10px 0;
}

.about-text ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about-text ul li {
    margin-top: 10px;
}

.about-text ul li a {
    color: #9433ff;
    text-decoration: none;
}

.about-text ul li a:hover {
    text-decoration: underline;
}

