/* styles.css */

body {
    background-color: #1f1f1f;
    color: #e6e6e6;
    font-family: 'FreeSerif', serif;
    margin: 0;
    padding: 0;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 36px;
    font-family: 'Arial Black', sans-serif;
    color: #C4A000;
}

nav ul li.logo img {
    max-height: 70px; 
}

nav ul {
    list-style: none;
    padding: 0;
}

a {
    color: #643f7c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav ul li {
    display: inline;
    margin-right: 35px; 
}

nav ul li a {
    color: #716181;
    text-decoration: none;
}

.description {
    margin: 20px auto;
    font-size: 18px;
    max-width: 90%;
    padding: 0 10px;
}

.posts h2 {
    font-size: 24px;
    padding-bottom: 5px;
}

.posts {
    border-top: 1px solid #C0C0C0;
    padding-top: 10px;
}

.posts ul {
    list-style: none;
    padding: 0;
}

.posts ul li {
    margin-bottom: 10px;
}
