/* Reset CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #ffffff;
    display: flex;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px; /* Default sidebar width */
    height: 100%;
    background-color: #141414;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 300px;
}

.sidebar h2 {
    color: #7a4d7c;
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
    text-align: center;
}

.sidebar ul li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.sidebar ul li a:hover {
    background-color: #7a4d7c;
    color: #f9f9f9;
}

/* Content Styles */
.content {
    margin-left: 240px;
    padding: 20px;
    flex: 1;
}

header {
    background-color: #191919;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    width: 100%;
}

header a {
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

header hr {
    width: 50%;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #ffffff;
}

header h1 span {
    color: #d1a1d3;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #7a4d7c;
    color: #f9f9f9;
    border-radius: 5px;
}

/* Main Content Styles */
main {
    padding: 20px;
    margin-top: 20px;
}

main h1, main h2, main h3 {
    color: #7a4d7c;
}

main p {
    margin: 10px 0;
}

main a {
    color: #9433ff;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

/* About Section Styles */
.about-content {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

/* Images */
.about-image {
    margin-left: 20px;
    margin-right: 30px;
}

.about-image img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #7a4d7c;
}

.space-image{
    margin: 10px; /* Adjust the space around images */
}
/* Article Styles */
.article {
    background-color: #171717;
    padding: 20px; 
    margin-bottom: 20px; /* Margin between articles */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow */
}

#Articles a {
    color: #7a4d7c;
}

#Articles a:hover {
    color: #9433ff;
}



